    body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url(cover.jpeg);
    background-size:cover;
	background-position:center;
    font-family: sans-serif;
    font-size: 16px;
    color: #333;
    
}
.input-box
{
	border-radius:15px;
	padding:5px;
	margin:10px 0 ;
	width : 50%;
	border: 1px solid #f5f2d0;
}
.container{
    background-color:rgba(0,0,0,0.85);
    width: 100%;
    height: auto;
    margin: 11% auto ;
    box-shadow: 0 27px 87px rgba(0,0,0,0.37);
    border-radius: 10px;
    overflow: hidden;  
    
}
.img{
     float: left;
}
.pic{
  
	border-radius:20px;
	padding:5px;
	
	width : 50%;
    border: 1px solid #f5f2d0;
	cursor:pointer;
	}




button
{
	border-radius:20px;
	padding:5px;
	margin:10px 0 ;
	width : 20%;
    border: 1px solid #f5f2d0;
	cursor:pointer;
    }
    .label
{
    font-size: large;
    font-weight: bold;
    color: #f5f2d0;
}